:root {
    --border: 1px solid rgb(0 0 0 / 0.2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
   
}

body{

}

main img {
    float: right;
    margin-left: 1rem;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {

    max-width: 840px;
}

aside {
    position: relative;
    width: 20rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 130px;
   
   
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #00FF00;
    color: #000080;
}